Repository KhronosGroup/OpenXR-SDK-Source, pull requests merged in 2019-04, with the labels that each got.

#26 hello_xr: Fix a warning
  src/tests/hello_xr/graphicsplugin_vulkan.cpp
Labels: in hello_xr

#27 Add loader design document
  doc/loader/OpenXR_loader_design.html
  src/loader/images/high_level_loader_black.png
  src/loader/images/instance_call_chain_black.png
  src/loader/images/loader_layer_order_calls_black.png
Labels: in loader

#30 Add default implementations of API functions to dispatch chains
  src/loader/loader_instance.cpp
  src/loader/runtime_interface.cpp
  src/scripts/loader_source_generator.py
Labels: bug, in loader

#36 Allow null instance in xrGetInstanceProcAddr() for certain entry points
  src/scripts/loader_source_generator.py
Labels: bug, in loader

#35 Add 'unknown' strings to loader's *ToString fallback functions
  src/scripts/utility_source_generator.py
Labels: bug, in loader
